{% extends "blog/base.html" %}
{% block content %}
    {% for single_post in all_posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ single_post.author }}</a>
              <small class="text-muted">{{ single_post.date_single_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' single_post.id %}">{{ single_post.title }}</a></h2>
            <p class="article-content">{{ single_post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}